.header {
  background-color: #3e4750;
  color: #838588;
  height: 30px;
  z-index: 10;
  font-size: 0.9rem;

  .spinner {
    transform: scale(0.3);
    margin-left: auto;
  }

  button {
    font-size: 0.9rem;
    color: #cccbcb;
    i {
      padding-right: 1rem;
    }
  }

  button:disabled {
    color: #808080bf;
  }

  mat-divider{
    height: 100%;
  }
}
