<div class="section-title">Sources</div>
<mat-divider class="horizontal-divider"></mat-divider>
<mat-form-field appearance="outline" class="search" [color]="'accent'">
  <mat-label>Search for element</mat-label>
  <input matInput autocomplete="off" [(ngModel)]="searchValue" (ngModelChange)="filterOptions()">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<mat-divider class="horizontal-divider"></mat-divider>
<div class="source-list">
  <div class="slider" *ngFor="let source of filteredNames">
    <span>{{source}}</span>
    <mat-slider
      [(ngModel)]="sources[source]"
      (input)="refreshSources($event, source)"
      thumbLabel
      tickInterval="1"
      min="1"
      max="10000"></mat-slider>
  </div>
</div>
