<div [attr.itemID]="item.id">
  <div [class.item]="!isRoot">
    <div *ngIf="isRoot" class="root" (click)="selectRootSettings($event)"><span class="material-icons">view_list</span>Root
    </div>
    <div *ngIf="!isRoot" class="row" (click)="selectItem()" [id]="item.id">
      <button mat-icon-button (click)="toggleExpand($event)" *ngIf="isContainer(item)">
        <mat-icon *ngIf="expanded">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="!expanded">keyboard_arrow_right</mat-icon>
      </button>
      <i class="material-icons" *ngIf="isContainer(item)">folder</i>
      <i class="material-icons type-icon" *ngIf="!isContainer(item)">code</i>
      <span class="title" *ngIf="!renaming" (dblclick)="renaming = true">{{item.name}}</span>
      <input class="title" *ngIf="renaming" [(ngModel)]="temporaryName" (keyup)="onKeydownHandler($event)">
      <mat-icon *ngIf="renaming" (click)="renaming =! renaming; $event.stopPropagation()">cancel</mat-icon>
    </div>
    <div *ngIf="item.children" class="item-child-container" [sortablejs]="item.children" [sortablejsOptions]="options"
         [ngClass]="expanded ? 'expanded' : 'collapsed'" [attr.itemID]="item.id">
      <div *ngFor="let listChild of item.children">
        <mfd-mat-tree-item-list [item]="listChild"></mfd-mat-tree-item-list>
      </div>
    </div>
  </div>
</div>
