.item {
  color: white;
  cursor: pointer;
  background: inherit;
  overflow: hidden;
  transition: 0.5s ease;
  max-height: -webkit-max-content;
  max-height: max-content;

  .type-icon {
    margin-left: 40px;
  }

  .item-child-container   {
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .row {
    display: flex;
    align-items: center;

    input {
      padding: 3px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .title {
      vertical-align: super;
      margin-left: 5px;
    }
  }
}

.root{
  display: flex;
  color: white;
  padding: 5px;
  cursor: pointer;
  align-items: flex-end;
  .material-icons {
    padding-right: 5px;
  }
}

.selected-root {
  background: #57598e;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.selected-item {
  background: #65656b;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.collapsed {
  display: none;
}

.expanded {
  display: block;
}

.icon-expanded {
  transform: rotate(90);
}

.icon-collapsed {
  transform: rotate(-90);
}
