.tree {
  padding: 0;

  .node-visibility {
    position: unset;
    width: 0;
    transform: translateX(-65px);
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    visibility: hidden;
  }

  .node-warning {
    transform: scale(1.2);
    padding-left: 0.5rem;
    color: red;
  }

  .pi-eye-slash {
    visibility: visible;
  }

  //.node-label {
  //  margin-left: -20px;
  //}

  .note-wrapper {
    display: flex;
    align-items: center;
  }

  .incorrect {
    background: red;
    color: black;
    border-radius: 5px;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-icon {
    color: white;
  }
}

.group-class {
  margin-left: 0;
  background: black;
}

@background-color: black;
.test-container {
  background-color: @background-color;
  display: flex;
  flex-direction: column;

  .test {
    width: 100px;
  }
}

.test-parent {
  @background-color: red;
}
