<div class="row-container">
  <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'" (change)="save($event)">
    <mat-label>Texture image [TGA]</mat-label>
    <ngx-mat-file-input [formControl]="file" [value]="defaultFile" [accept]="'.tga'"></ngx-mat-file-input>
    <mat-icon matSuffix class="clickable">folder</mat-icon>
  </mat-form-field>

  <div class="pair-elements">
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Position [X]</mat-label>
      <input matInput autocomplete="off"
             [(ngModel)]="item.element.left"
             (change)="save()">
    </mat-form-field>
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Position [Y]</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="item.element.top" (change)="save()">
    </mat-form-field>
  </div>
  <div class="pair-elements">
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Width</mat-label>
      <input matInput autocomplete="off"
             [value]="getWidth()"
             (change)="updateWidth($event)">
    </mat-form-field>
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Height</mat-label>
      <input matInput autocomplete="off"
             [value]="getHeight()"
             (change)="updateHeight($event)">
    </mat-form-field>
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Angle</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="angle" [value]="getAngle()" (change)="save()">
    </mat-form-field>
  </div>
</div>
