<div class="pair-elements">
  <!--  Width-->
  <mat-form-field appearance="standard" class="small-input" [color]="'accent'" [floatLabel]="'always'">
    <mat-label>Width</mat-label>
    <input matInput autocomplete="off"
           [type]="'number'"
           [value]="getWidth()"
           (change)="updateWidth($event)">
    <mat-icon class="width-icon" matSuffix>expand_all</mat-icon>
  </mat-form-field>
  <!--    Height-->
  <mat-form-field appearance="standard" class="small-input" [color]="'accent'" [floatLabel]="'always'">
    <mat-label>Height</mat-label>
    <input matInput autocomplete="off"
           [type]="'number'"
           [value]="getHeight()"
           (change)="updateHeight($event)">
    <mat-icon matSuffix>expand_all</mat-icon>
  </mat-form-field>
</div>