<div class="row-container">
  <mfd-name-input [(name)]="item.label" (save)="save()"></mfd-name-input>
  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <mfd-position-input [(positionX)]="item.base.position.x"
                      [(positionY)]="item.base.position.y"
                      (save)="save()"></mfd-position-input>

  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <div class="pair-elements">
    <mat-form-field appearance="standard" class="small-input select font-type" color="accent">
      <mat-label>Font type</mat-label>
      <mat-select [(ngModel)]="fontName" (selectionChange)="save()">
        <mat-option *ngFor="let font of store.FONT_LIST" [value]="font">{{font}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mfd-color-selector [(colorHex)]="color" (colorHexChange)="save()" class="pair-item"></mfd-color-selector>
  </div>

  <div class="pair-elements">
    <mat-button-toggle-group name="textAlign" aria-label="Text align" class="align-selector pair-item"
                             [(ngModel)]="item.data.textAlign" (ngModelChange)="save()">
      <mat-button-toggle value="left" [matTooltip]="'Left align'"><i class="material-icons">format_align_left</i>
      </mat-button-toggle>
      <mat-button-toggle value="center" [matTooltip]="'Center align'"><i class="material-icons">format_align_center</i>
      </mat-button-toggle>
      <mat-button-toggle value="right" [matTooltip]="'Right align'"><i class="material-icons">format_align_right</i>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="standard" class="small-input font-size" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Font size</mat-label>
      <input matInput autocomplete="off"
             [type]="'number'"
             [(ngModel)]="item.data.fontSize"
             (change)="refreshText()">
    </mat-form-field>
  </div>

  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <mat-checkbox class="checkbox align-left" [(ngModel)]="staticText" (change)="save()">Use static text</mat-checkbox>
  <div [className]="staticText ? '' : 'disabled'">
    <mat-form-field appearance="standard" class="small-input full-width" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Static text</mat-label>
      <input matInput autocomplete="off"
             [type]="'text'"
             [(ngModel)]="item.data.text"
             (change)="refreshText()">
    </mat-form-field>
  </div>
  <div [className]="staticText ? 'disabled' : ''">
    <mfd-text-properties-source-selector [(source)]="source" (save)="save()"
                                         [(sourceScale)]="item.data.sourceScale"
                                         (refreshText)="refreshText($event)"></mfd-text-properties-source-selector>
  </div>
</div>