<div class="row-container">
  <mfd-name-input [(name)]="item.name" (save)="save()"></mfd-name-input>
  <mfd-position-input [(positionX)]="item.base.position.x"
                      [(positionY)]="item.base.position.y"
                      (save)="save()"></mfd-position-input>
  <div class="pair-elements">
    <mat-form-field appearance="outline" class="small-input select font-type" color="accent">
      <mat-label>Font type</mat-label>
      <mat-select [(ngModel)]="fontName" (selectionChange)="save()">
        <mat-option *ngFor="let font of store.FONT_LIST" [value]="font">{{font}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="small-input font-size" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Font size</mat-label>
      <input matInput autocomplete="off"
             [type]="'number'"
             [(ngModel)]="item.element.fontSize"
             (change)="refreshText()">
    </mat-form-field>
  </div>

  <mat-checkbox class="checkbox align-left" [(ngModel)]="staticText" >Use static text</mat-checkbox>
  <div [className]="staticText ? '' : 'disabled'">
    <mat-form-field appearance="outline" class="small-input full-width" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Static text</mat-label>
      <input matInput autocomplete="off"
             [type]="'text'"
             [(ngModel)]="item.element.text"
             (change)="refreshText()">
    </mat-form-field>
  </div>
  <div [className]="staticText ? 'disabled' : ''">
    <div class="pair-elements sources">
      <mat-form-field appearance="outline" class="small-input select" color="accent">
        <mat-label>Source</mat-label>
        <mat-select [(ngModel)]="source" (selectionChange)="save()">
          <mat-option *ngFor="let source of getAvailableSources()" [value]="source">{{source}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
        <mat-label>Source scale</mat-label>
        <input matInput autocomplete="off"
               [type]="'number'"
               [(ngModel)]="item.element.sourceScale"
               (change)="save()">
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="small-input full-width" [color]="'accent'" [floatLabel]="'always'" appearance="outline">
    <input matInput [ngxMatColorPicker]="picker" [formControl]="color" (colorChange)="save()">
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
    <ngx-mat-color-picker #picker></ngx-mat-color-picker>
  </mat-form-field>
</div>
