<div class="work-container" data-wheel-zoom #workspaceContainer id="workspaceContainer">
  <div style="background: #757e87" #workspace>
    <img class="back"
         *ngIf="store.canvasUseImage"
         [width]="store.canvasWidth"
         [src]="store.canvasBackgroundImg"
         [height]="store.canvasHeight">
    <app-fabric-canvas [style.background]="!store.canvasUseImage ? store.canvasBackGroundColor.rgba : 'transparent'" style="display: block"></app-fabric-canvas>
  </div>
</div>
<div class="bottom-container">
  <div class="zoom-actions">
    <button mat-mini-fab (click)="zoomIn()">
      <mat-icon>add</mat-icon>
    </button>
    <span class="value">{{ZOOM_LEVEL | number : '1.2-2'}}</span>
    <button mat-mini-fab (click)="zoomOut()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-mini-fab [matTooltip]="'Reset zoom'" (click)="resetZoom()">
      <mat-icon>fullscreen_exit</mat-icon>
    </button>
  </div>
  <span class="author">Created by Marek Grzejszczak</span>
</div>
