.layer-list-view {
  display: block;
  height: calc(100vh - 60px);
  width: 18vw;
  min-width: 350px;
  background-color: #454f58;
  z-index: 10;
  .layer-list {
    height: 70%;
    overflow: auto;
  }
  .bones-list {
    height: 30%;
    overflow: auto;
  }
}
