.content {
  display: flex;
  height: 100%;
  width: 350px;

  .layer-list-view {
    color: #a4a5a7;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    width: 100%;

    mfd-layer-stack {
      height: 500px;
    }

    .resize-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .resize-content {
      overflow-y: auto;
    }
  }
}
