<div class="row-container">
  <!--  Name-->
  <mfd-name-input [(name)]="item.label" (save)="save()"></mfd-name-input>
  <!--  Position-->
  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <mfd-position-input [(positionX)]="item.base.position.x"
                      [(positionY)]="item.base.position.y"
                      (save)="save()"></mfd-position-input>
  <!--  Dimensions-->
  <mfd-dimensions-input [(item)]="item"
                        (save)="save()"></mfd-dimensions-input>

  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <div class="pair-elements">
    <!--  Stroke-->
    <mfd-stroke-width-input class="pair-item" [(width)]="item.data.strokeWidth" (save)="save()"></mfd-stroke-width-input>
    <!--  Line Type-->
    <mfd-line-type-selector class="pair-item" [(lineType)]="lineType" (save)="save()"></mfd-line-type-selector>
  </div>

  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <div class="pair-elements">
    <!--  Color-->
    <mfd-color-selector [(colorHex)]="color" (colorHexChange)="save()" class="pair-item"></mfd-color-selector>
    <!--  Angle-->
    <mfd-angle-input [(angle)]="angle" [initialValue]="getAngle()" (save)="save()" class="pair-item"></mfd-angle-input>
  </div>
  <!--  Bone-->
  <mfd-bones-selector [(bone)]="boneName" (save)="save()"></mfd-bones-selector>
</div>