<div class="row-container">
<!--  Name-->
  <mfd-name-input [(name)]="item.name" (save)="save()"></mfd-name-input>
<!--  Position-->
  <mfd-position-input [(positionX)]="item.base.position.x"
                      [(positionY)]="item.base.position.y"
                      (save)="save()"></mfd-position-input>
<!--    Width-->
  <div class="pair-elements">
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Width</mat-label>
      <input matInput autocomplete="off"
             [type]="'number'"
             [value]="getWidth()"
             (change)="updateWidth($event)">
    </mat-form-field>
<!--    Height-->
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Height</mat-label>
      <input matInput autocomplete="off"
             [type]="'number'"
             [value]="getHeight()"
             (change)="updateHeight($event)">
    </mat-form-field>
  </div>
<!--  Color-->
  <mat-form-field class="small-input full-width" [color]="'accent'" [floatLabel]="'always'" appearance="outline">
    <input matInput [ngxMatColorPicker]="picker" [formControl]="color" (colorChange)="save()">
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
    <ngx-mat-color-picker #picker></ngx-mat-color-picker>
  </mat-form-field>
<!--  Angle-->
  <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
    <mat-label>Angle</mat-label>
    <input matInput autocomplete="off" [(ngModel)]="angle" [value]="getAngle()" (change)="save()">
  </mat-form-field>
<!--  Bone-->
  <mfd-bones-selector [(bone)]="boneName" (save)="save()"></mfd-bones-selector>
</div>
