<mat-label>Pos0 - Anchor point of bone</mat-label>
<div class="pair-elements">
  <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
    <mat-label>x</mat-label>
    <input matInput autocomplete="off"
           required
           [type]="'number'"
           [(ngModel)]="bone.pos0.x">
  </mat-form-field>
  <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
    <mat-label>y</mat-label>
    <input matInput autocomplete="off"
           [type]="'number'"
           [(ngModel)]="bone.pos0.y">
  </mat-form-field>
</div>
