<div class="section-title">Elements</div>
<mat-divider class="horizontal-divider"></mat-divider>
<mat-form-field appearance="outline" class="search" [color]="'accent'">
  <mat-label>Search for element</mat-label>
  <input matInput autocomplete="off" [(ngModel)]="searchValue" (ngModelChange)="filterOptions()">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>


<mat-list>
  <mat-list-item matRipple class="mat-list-option disable-text-selection" (dblclick)="addLine()">Line</mat-list-item>
  <mat-list-item matRipple class="mat-list-option disable-text-selection" (dblclick)="addRect()">Rectangle</mat-list-item>
  <mat-list-item matRipple class="mat-list-option disable-text-selection" (dblclick)="addTriangle()">Triangle</mat-list-item>
  <mat-list-item matRipple class="mat-list-option disable-text-selection" (dblclick)="addCircle()">Circle</mat-list-item>
  <mat-list-item matRipple class="mat-list-option disable-text-selection" (dblclick)="addTexture()">Texture</mat-list-item>
  <mat-list-item matRipple class="mat-list-option disable-text-selection" (dblclick)="addPolygonRect()">Polygon (Rectangle)</mat-list-item>
  <mat-list-item matRipple class="mat-list-option disable-text-selection" (dblclick)="addPolygonTriangle()">Polygon (Triangle)</mat-list-item>
</mat-list>
