.layer-buttons {
  display: flex;
  padding: 0 10px 0 0;
  justify-content: space-between;

  .action-icons {
    display: flex;
    justify-content: flex-end;

    button {
      transform: scale(0.8);
      min-width: 27px;
      padding: 0;
    }
  }
}