<div mat-dialog-title>Create new bone</div>
<mat-dialog-content>
  <!--  NAME-->
  <mat-form-field appearance="outline" class="medium-input full-width" [color]="'accent'" [floatLabel]="'always'">
    <mat-label>Name</mat-label>
    <input matInput autocomplete="off"
           [formControl]="nameFormControl"
           [type]="'text'">
    <mat-error *ngIf="nameFormControl.hasError('required')">Field required</mat-error>
    <mat-error *ngIf="nameFormControl.hasError('exists')">Bone with that name already exists</mat-error>
  </mat-form-field>
  <!--  TYPE-->
  <mat-form-field appearance="outline" class="medium-input select full-width" color="accent">
    <mat-label>Bone type</mat-label>
    <mat-select [(ngModel)]="boneType">
      <mat-option [value]="'fixed'">Fixed</mat-option>
      <mat-option [value]="'linear'">Linear</mat-option>
      <mat-option [value]="'rotational'">Rotational</mat-option>
    </mat-select>
  </mat-form-field>
  <!--  FIXED-->
  <div *ngIf="boneType==='fixed'">
    <mfd-bone-fixed [bone]="fixedBone"></mfd-bone-fixed>
  </div>
  <!--      ROTATIONAL-->
  <!--      LINEAR-->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial [disabled]="nameFormControl.invalid" (click)="saveBone()">Create</button>
</mat-dialog-actions>
