<div class="pair-elements">
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
        <mat-label>Position [X]</mat-label>
        <input matInput autocomplete="off"
               name="positionX" ngDefaultControl
               type="number"
               [(ngModel)]="positionX"
               (ngModelChange)="positionXChange.emit(positionX)"
               (change)="save.emit()">
    </mat-form-field>
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
        <mat-label>Position [Y]</mat-label>
        <input matInput autocomplete="off"
               name="positionY" ngDefaultControl
               type="number"
               [(ngModel)]="positionY"
               (ngModelChange)="positionYChange.emit(positionY)"
               (change)="save.emit()">
    </mat-form-field>
</div>
