<div class="row-container">
<!--  FileName-->
  <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'" (change)="save($event)">
    <mat-label>Texture image [TGA]</mat-label>
    <ngx-mat-file-input [formControl]="file" [accept]="'.tga'"></ngx-mat-file-input>
    <mat-icon matSuffix class="clickable">folder</mat-icon>
  </mat-form-field>
<!--  Position-->
  <mfd-position-input [(positionX)]="item.element.left"
                      [(positionY)]="item.element.top"
                      (save)="save()"></mfd-position-input>
<!--   Width-->
  <div class="pair-elements">
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Width</mat-label>
      <input matInput autocomplete="off"
             [value]="getWidth()"
             (change)="updateWidth($event)">
    </mat-form-field>
<!--  Height-->
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Height</mat-label>
      <input matInput autocomplete="off"
             [value]="getHeight()"
             (change)="updateHeight($event)">
    </mat-form-field>
<!--  Angle-->
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Angle</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="angle" [value]="getAngle()" (change)="save()">
    </mat-form-field>
  </div>
<!--  Bone-->
  <mfd-bones-selector [(bone)]="boneName" (save)="save()"></mfd-bones-selector>
</div>
