<div class="row-container">
<!--  NAME-->
  <mfd-name-input [(name)]="item.name" (save)="save()"></mfd-name-input>
<!--  POSITION-->
  <mfd-position-input [(positionX)]="item.base.position.x"
                      [(positionY)]="item.base.position.y"
                      (save)="save()"></mfd-position-input>
<!--  STEP-->
  <div class="pair-elements circle-step">
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Step</mat-label>
      <input matInput autocomplete="off"
             [type]="'number'"
             [(ngModel)]="circleStep"
             (change)="save()">
    </mat-form-field>
    <mat-icon matSuffix class="clickable info-icon"
              [matTooltip]="'Circles are drawn using line and points. Step value determines how dense are the points on the circle. Lowering the step results in smoother circle.'"
              matTooltipPosition="above">info
    </mat-icon>
  </div>
<!--  RADIUS-->
  <mat-checkbox class="checkbox" [(ngModel)]="uniformDiameter" (ngModelChange)="makeDiameterUniform()">Uniform radius</mat-checkbox>
  <div class="pair-elements" *ngIf="!uniformDiameter">
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Radius X</mat-label>
      <input matInput autocomplete="off"
             [type]="'number'"
             [value]="getDiameterX()"
             (change)="updateDiameterX($event)">
    </mat-form-field>
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Radius Y</mat-label>
      <input matInput autocomplete="off"
             [type]="'number'"
             [value]="getDiameterY()"
             (change)="updateDiameterY($event)">
    </mat-form-field>
  </div>
  <div class="pair-elements" *ngIf="uniformDiameter">
    <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
      <mat-label>Radius</mat-label>
      <input matInput autocomplete="off"
             [type]="'number'"
             [value]="getDiameterX()"
             (change)="updateDiameter($event)">
    </mat-form-field>
  </div>
<!--  STROKE-->
  <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
    <mat-label>Stroke</mat-label>
    <input matInput autocomplete="off"
           [type]="'number'"
           [(ngModel)]="item.element.strokeWidth"
           (change)="save()">
  </mat-form-field>
<!--  Line Type-->
  <mat-form-field appearance="outline" class="small-input select font-type" color="accent">
    <mat-label>Line type</mat-label>
    <mat-select [(ngModel)]="lineType" (selectionChange)="save()">
      <mat-option *ngFor="let type of store.LINE_TYPE_LIST" [value]="type.value">{{type.name}}</mat-option>
    </mat-select>
  </mat-form-field>
<!--  COLOR-->
  <mat-form-field class="small-input full-width" [color]="'accent'" [floatLabel]="'always'" appearance="outline">
    <input matInput [ngxMatColorPicker]="picker" [formControl]="color" (colorChange)="save()">
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
    <ngx-mat-color-picker #picker></ngx-mat-color-picker>
  </mat-form-field>
<!--  ANGLE-->
  <mat-form-field appearance="outline" class="small-input" [color]="'accent'" [floatLabel]="'always'">
    <mat-label>Angle</mat-label>
    <input matInput autocomplete="off" [(ngModel)]="angle" [value]="getAngle()" (change)="save()">
  </mat-form-field>
<!--  Bone-->
  <mfd-bones-selector [(bone)]="boneName" (save)="save()"></mfd-bones-selector>
</div>
