<div class="row-container">
  <!--  Name-->
  <mfd-name-input [(name)]="item.label" (save)="save()"></mfd-name-input>
  <!--  Position-->
  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <div class="points-list">
    <div *ngFor="let point of item.data.points, let i = index" class="point-item">
      <span class="point-index">#{{i+1}}</span>
      <div class="point-pair">
        <mfd-position-input class="point-item"
                            [(positionX)]="point.x"
                            [(positionY)]="point.y"
                            (save)="onPointPositionModified()"></mfd-position-input>
      </div>
    </div>
  </div>

  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <div class="pair-elements">
    <!--  Stroke-->
    <mfd-stroke-width-input class="pair-item" [(width)]="item.data.strokeWidth" (save)="save()"></mfd-stroke-width-input>
    <!--  Line Type-->
    <mfd-line-type-selector class="pair-item" [(lineType)]="lineType" (save)="save()"></mfd-line-type-selector>
  </div>

  <mat-divider vertical="false" class="mat-divider-padding-bottom"></mat-divider>
  <div class="pair-elements">
   <!--  Color-->
   <mfd-color-selector [(colorHex)]="color" (colorHexChange)="save()" class="pair-item"></mfd-color-selector>
   <!--  Angle-->
    <mfd-angle-input [(angle)]="angle" [initialValue]="getAngle()" (save)="onAngleModified()" class="pair-item"></mfd-angle-input>
 </div>
</div>