<mfd-resizeable-panel panelName="right-sidebar" [horizontal]="false" position="left">
    <div class="toolbox-container" #toolbox>
      <mfd-resizeable-panel [horizontal]="true" position="bottom" panelName="element-selector">
        <mfd-section-header [label]="'Elements'"></mfd-section-header>
        <mfd-element-selector></mfd-element-selector>
      </mfd-resizeable-panel>
      <mfd-section-header [label]="'Properties'"></mfd-section-header>
      <mfd-properties class="scrollable"></mfd-properties>
    </div>
</mfd-resizeable-panel>