.search {
  width: 95%;
}

mat-form-field.mat-form-field {
  font-size: 12px;
}

img {
  display: none;
}

.resize-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resize-content {
  overflow-y: auto;
}
