<div class="resize-container">
  <div class="resize-content">
    <div class="section-title">Elements</div>
    <mat-divider class="horizontal-divider"></mat-divider>
    <mat-form-field appearance="outline" class="search" [color]="'accent'">
      <mat-label>Search for element</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="searchValue" (ngModelChange)="filterOptions()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-list>
      <mfd-line-type></mfd-line-type>
      <mfd-rectangle-type></mfd-rectangle-type>
      <mfd-triangle-type></mfd-triangle-type>
      <mfd-circle-type></mfd-circle-type>
      <mfd-texture-type></mfd-texture-type>
      <mfd-polygon-rectangle-type></mfd-polygon-rectangle-type>
      <mfd-polygon-triangle-type></mfd-polygon-triangle-type>
      <mfd-text-type></mfd-text-type>
    </mat-list>
  </div>
  <mfd-resize-bar [horizontal]="true"></mfd-resize-bar>
</div>

