<div class="section-title">Elements</div>
<mat-divider class="horizontal-divider"></mat-divider>
<mat-form-field appearance="outline" class="search" [color]="'accent'">
  <mat-label>Search for element</mat-label>
  <input matInput autocomplete="off" [(ngModel)]="searchValue" (ngModelChange)="filterOptions()">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>


<mat-list>
  <app-line></app-line>
  <app-rectangle></app-rectangle>
  <app-triangle></app-triangle>
  <app-circle></app-circle>
  <app-texture></app-texture>
  <app-polygon-rectangle></app-polygon-rectangle>
  <app-polygon-triangle></app-polygon-triangle>
  <app-text></app-text>
</mat-list>
