/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  color: #838588;
}

body {
  background-color: #515c67;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


@darkGrey: #565656;
@lighterGrey: #454f58;

//
//GLOBAL
//
.small-input {
  font-size: 12px;
  color: #efefef;
  .mat-form-field-infix {
    padding: 0.5em !important;
  }
}
.clickable{
  cursor: pointer;
}
.section-title {
  background-color: #394048;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  color: #a4a5a7;
  font-family: inherit;
  letter-spacing: 5px;
  font-weight: lighter;
}

.tree-content {
  margin: 5px !important;
}
.tree-content-main, .root-title {
  margin-left: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #737373;
}

::-webkit-scrollbar-thumb {
  background: #9d9d9d;
}

::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}

