/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  color: #838588;
}

body {
  background-color: #515c67;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


@darkGrey: #565656;
@lighterGrey: #454f58;

//
//GLOBAL
//
p[hidden] { display: none; }
.hljs-ln-numbers{
  border-right: 1px solid #b3b3b3;
  padding-right: 8px !important;
  text-align: end;
}

.hljs-ln td {
  padding-left: 5px !important;
}

.hljs{
  border-radius: 5px;
  max-height: 90vh;
}
.row-container {
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.action-button {
  display: flex;
  flex-direction: row-reverse;
}

.info-icon {
  vertical-align: sub;
  padding-left: 10px;
}

.checkbox {
  padding: 0 10px 10px 10px;
  font-size: 0.7rem;
  display: flex;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
}

.full-width {
  width: 100%;
}

.pair-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  mat-form-field {
    width: 48%;
  }
}

.small-input {
  font-size: 12px;
  color: #efefef;

  .mat-form-field-infix {
    padding: 0.5em !important;
  }
}

.clickable {
  cursor: pointer;
}

.section-title {
  background-color: #394048;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  color: #a4a5a7;
  font-family: inherit;
  letter-spacing: 5px;
  font-weight: lighter;
}

.disable-text-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.upper-canvas {
  position: relative !important;
}

.tree-content {
  margin: 5px !important;
}

.tree-content-main, .root-title {
  margin-left: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #737373;
}

::-webkit-scrollbar-thumb {
  background: #9d9d9d;
}

::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}

