class {{name}}
{
  {{#color}}
  color[] = { {{color.r}}, {{color.g}}, {{color.b}}, {{color.a}} };
  {{/color}}
  {{#condition}}
  condition = "{{condition}}";
  {{/condition}}
  {{{content}}}
}//End of {{name}}