class {{name}}
{
  {{#color}}
  color[] = { {{color.r}}, {{color.g}}, {{color.b}}, {{color.a}} };
  {{/color}}
  {{#blinking}}
  blinkingPattern[] = { {{blinkingPattern}} };
  {{/blinking}}
  {{#blinking}}
  blinkingStartsOn = {{blinkingStartsOn}};
  {{/blinking}}
  {{#condition}}
  condition = "{{condition}}";
  {{/condition}}
  {{{contentText}}}
};//End of {{name}}