class {{name}}
{
  {{#color}}
  color[] = { {{color.r}}, {{color.g}}, {{color.b}}, {{color.a}} };
  {{/color}}
  class Text {
    type      = "text";
    align     = "{{align}}";
    scale     = {{scale}};
    text      = "{{text}}"
    pos[]		= { {{pos.x}}, {{pos.y}} }, 1 };
    right[]		= { {{right.x}}, {{right.y}} }, 1 };
    down[]		= { {{down.x}}, {{down.y}} }, 1 };
  };
};//End of {{name}}